Django
babel==2.5.3
humanize==0.5.1
python-dateutil==2.7.5
pytz==2018.7
tzlocal==1.5.1
numpy
google-api-core
pandas
botocore
Flask
Lookupy
ipython
SQLAlchemy 
matplotlib
Jinja2
itsdangerous
googleapis-common-protos
Pillow
google-cloud-bigquery
azure-core
